.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  transition: opacity 300ms;
}


.popup__close-button:hover {
  opacity: 0.6;
}


@media (max-width: 550px) {
  .popup__close-button {
    top: -48px;
    right: 0;
  }
} 