.header__content {
  display: flex;
  flex-direction: row;
  max-width: 880px;
  width: 100%;
  padding-bottom: 41px;
  border-bottom: 1px solid #545454;
}

@media (max-width: 918px) {
  .header__content {
    padding: 0px 27px 41px 27px;
    width: calc(100% - 38px);
  }
} 